[submodule "vim/pack/plugins/start/ctrlp.vim"]
	path = vim/pack/plugins/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/pack/plugins/start/nerdtree"]
	path = vim/pack/plugins/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "vim/pack/plugins/start/vim-easymotion"]
	path = vim/pack/plugins/start/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule "vim/pack/plugins/start/coc.nvim"]
	path = vim/pack/plugins/start/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule "vim/pack/plugins/start/vim-airline.git"]
	path = vim/pack/plugins/start/vim-airline.git
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/pack/plugins/start/vim-afterglow"]
	path = vim/pack/plugins/start/vim-afterglow
	url = git@github.com:danilo-augusto/vim-afterglow.git
